body{
    max-width: 700px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

code{
    background-color: rgb(230, 230, 230);
    color: rgb(150, 75, 103);
    padding: 2px 4px;
    border-radius: 4px;
}

pre{
    background-color: rgb(230, 230, 230);
    color: rgb(150, 75, 103);
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

.code-text{
    color: black;
}

.tag-list{
    background-color: rgb(230, 230, 230);
    color: rgb(78, 170, 186);
    margin-right: 5px;
}

hr{
    opacity: 20%;
}